.container{
    width: 1000px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.card:hover{
    background-color: rgb(250, 253, 253);
}

.kicsi{
    top: 180px;
    background-color: yellow;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
}
.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card-text {
    text-align: center;
    padding: 10px;
}
.card-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.card-text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.card-link{
    color: #000;
}
.card-body {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: 2;
}

a.button-54 {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Gill Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 0.75em;
    min-width: 0;
    outline: none;
    padding: 0.5em 1.1em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

a.button-54:disabled {
    pointer-events: none;
}

a.button-54:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
